html {box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.gbaf-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.gbaf-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.gbaf-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.gbaf-table,.gbaf-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.gbaf-table-all{border:1px solid #ccc}
.gbaf-bordered tr,.gbaf-table-all tr{border-bottom:1px solid #ddd}.gbaf-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.gbaf-table-all tr:nth-child(odd){background-color:#fff}.gbaf-table-all tr:nth-child(even){background-color:#f1f1f1}
.gbaf-hoverable tbody tr:hover,.gbaf-ul.gbaf-hoverable li:hover{background-color:#ccc}.gbaf-centered tr th,.gbaf-centered tr td{text-align:center}
.gbaf-table td,.gbaf-table th,.gbaf-table-all td,.gbaf-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.gbaf-table th:first-child,.gbaf-table td:first-child,.gbaf-table-all th:first-child,.gbaf-table-all td:first-child{padding-left:16px}
.gbaf-btn,.gbaf-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.gbaf-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.gbaf-btn,.gbaf-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.gbaf-disabled,.gbaf-btn:disabled,.gbaf-button:disabled{cursor:not-allowed;opacity:0.3}.gbaf-disabled *,:disabled *{pointer-events:none}
.gbaf-btn.gbaf-disabled:hover,.gbaf-btn:disabled:hover{box-shadow:none}
.gbaf-badge,.gbaf-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.gbaf-badge{border-radius:50%}
.gbaf-ul{list-style-type:none;padding:0;margin:0}.gbaf-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.gbaf-ul li:last-child{border-bottom:none}
.gbaf-tooltip,.gbaf-display-container{position:relative}.gbaf-tooltip .gbaf-text{display:none}.gbaf-tooltip:hover .gbaf-text{display:inline-block}
.gbaf-ripple:active{opacity:0.5}.gbaf-ripple{transition:opacity 0s}
.gbaf-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.gbaf-dropdown-click,.gbaf-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.gbaf-dropdown-hover:hover .gbaf-dropdown-content{display:block}
.gbaf-dropdown-hover:first-child,.gbaf-dropdown-click:hover{background-color:#ccc;color:#000}
.gbaf-dropdown-hover:hover > .gbaf-button:first-child,.gbaf-dropdown-click:hover > .gbaf-button:first-child{background-color:#ccc;color:#000}
.gbaf-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.gbaf-check,.gbaf-radio{width:24px;height:24px;position:relative;top:6px}
.gbaf-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.gbaf-bar-block .gbaf-dropdown-hover,.gbaf-bar-block .gbaf-dropdown-click{width:100%}
.gbaf-bar-block .gbaf-dropdown-hover .gbaf-dropdown-content,.gbaf-bar-block .gbaf-dropdown-click .gbaf-dropdown-content{min-width:100%}
.gbaf-bar-block .gbaf-dropdown-hover .gbaf-button,.gbaf-bar-block .gbaf-dropdown-click .gbaf-button{width:100%;text-align:left;padding:8px 16px}
.gbaf-main,#main{transition:margin-left .4s}
.gbaf-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.gbaf-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.gbaf-bar{width:100%;overflow:hidden}.gbaf-center .gbaf-bar{display:inline-block;width:auto}
.gbaf-bar .gbaf-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.gbaf-bar .gbaf-dropdown-hover,.gbaf-bar .gbaf-dropdown-click{position:static;float:left}
.gbaf-bar .gbaf-button{white-space:normal}
.gbaf-bar-block .gbaf-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.gbaf-bar-block.gbaf-center .gbaf-bar-item{text-align:center}.gbaf-block{display:block;width:100%}
.gbaf-responsive{display:block;overflow-x:auto}
.gbaf-container:after,.gbaf-container:before,.gbaf-panel:after,.gbaf-panel:before,.gbaf-row:after,.gbaf-row:before,.gbaf-row-padding:after,.gbaf-row-padding:before,
.gbaf-cell-row:before,.gbaf-cell-row:after,.gbaf-clear:after,.gbaf-clear:before,.gbaf-bar:before,.gbaf-bar:after{content:"";display:table;clear:both}
.gbaf-col.s1{width:8.33333%}.gbaf-col.s2{width:16.66666%}.gbaf-col.s3{width:24.99999%}.gbaf-col.s4{width:33.33333%}
.gbaf-col.s5{width:41.66666%}.gbaf-col.s6{width:49.99999%}.gbaf-col.s7{width:58.33333%}.gbaf-col.s8{width:66.66666%}
.gbaf-col.s9{width:74.99999%}.gbaf-col.s10{width:83.33333%}.gbaf-col.s11{width:91.66666%}.gbaf-col.s12{width:99.99999%}
@media (min-width:601px){.gbaf-col.m1{width:8.33333%}.gbaf-col.m2{width:16.66666%}.gbaf-col.m3,.gbaf-quarter{width:24.99999%}.gbaf-col.m4,.gbaf-third{width:33.33333%}
.gbaf-col.m5{width:41.66666%}.gbaf-col.m6,.gbaf-half{width:49.99999%}.gbaf-col.m7{width:58.33333%}.gbaf-col.m8,.gbaf-twothird{width:66.66666%}
.gbaf-col.m9,.gbaf-threequarter{width:74.99999%}.gbaf-col.m10{width:83.33333%}.gbaf-col.m11{width:91.66666%}.gbaf-col.m12{width:99.99999%}}
@media (min-width:993px){.gbaf-col.l1{width:8.33333%}.gbaf-col.l2{width:16.66666%}.gbaf-col.l3{width:24.99999%}.gbaf-col.l4{width:33.33333%}
.gbaf-col.l5{width:41.66666%}.gbaf-col.l6{width:49.99999%}.gbaf-col.l7{width:58.33333%}.gbaf-col.l8{width:66.66666%}
.gbaf-col.l9{width:74.99999%}.gbaf-col.l10{width:83.33333%}.gbaf-col.l11{width:91.66666%}.gbaf-col.l12{width:99.99999%}}
.gbaf-rest{overflow:hidden}.gbaf-stretch{margin-left:-16px;margin-right:-16px}
.gbaf-content,.gbaf-auto{margin-left:auto;margin-right:auto}.gbaf-content{max-width:980px}.gbaf-auto{max-width:1140px}
.gbaf-cell-row{display:table;width:100%}.gbaf-cell{display:table-cell}
.gbaf-cell-top{vertical-align:top}.gbaf-cell-middle{vertical-align:middle}.gbaf-cell-bottom{vertical-align:bottom}
.gbaf-hide{display:none!important}.gbaf-show-block,.gbaf-show{display:block!important}.gbaf-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.gbaf-auto{max-width:95%}}
@media (max-width:600px){.gbaf-modal-content{margin:0 10px;width:auto!important}.gbaf-modal{padding-top:30px}
.gbaf-dropdown-hover.gbaf-mobile .gbaf-dropdown-content,.gbaf-dropdown-click.gbaf-mobile .gbaf-dropdown-content{position:relative}	
.gbaf-hide-small{display:none!important}.gbaf-mobile{display:block;width:100%!important}.gbaf-bar-item.gbaf-mobile,.gbaf-dropdown-hover.gbaf-mobile,.gbaf-dropdown-click.gbaf-mobile{text-align:center}
.gbaf-dropdown-hover.gbaf-mobile,.gbaf-dropdown-hover.gbaf-mobile .gbaf-btn,.gbaf-dropdown-hover.gbaf-mobile .gbaf-button,.gbaf-dropdown-click.gbaf-mobile,.gbaf-dropdown-click.gbaf-mobile .gbaf-btn,.gbaf-dropdown-click.gbaf-mobile .gbaf-button{width:100%}}
@media (max-width:768px){.gbaf-modal-content{width:500px}.gbaf-modal{padding-top:50px}}
@media (min-width:993px){.gbaf-modal-content{width:900px}.gbaf-hide-large{display:none!important}.gbaf-sidebar.gbaf-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.gbaf-hide-medium{display:none!important}}
@media (max-width:992px){.gbaf-sidebar.gbaf-collapse{display:none}.gbaf-main{margin-left:0!important;margin-right:0!important}.gbaf-auto{max-width:100%}}
.gbaf-top,.gbaf-bottom{position:fixed;width:100%;z-index:1}.gbaf-top{top:0}.gbaf-bottom{bottom:0}
.gbaf-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.gbaf-display-topleft{position:absolute;left:0;top:0}.gbaf-display-topright{position:absolute;right:0;top:0}
.gbaf-display-bottomleft{position:absolute;left:0;bottom:0}.gbaf-display-bottomright{position:absolute;right:0;bottom:0}
.gbaf-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.gbaf-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.gbaf-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.gbaf-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.gbaf-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.gbaf-display-container:hover .gbaf-display-hover{display:block}.gbaf-display-container:hover span.gbaf-display-hover{display:inline-block}.gbaf-display-hover{display:none}
.gbaf-display-position{position:absolute}
.gbaf-circle{border-radius:50%}
.gbaf-round-small{border-radius:2px}.gbaf-round,.gbaf-round-medium{border-radius:4px}.gbaf-round-large{border-radius:8px}.gbaf-round-xlarge{border-radius:16px}.gbaf-round-xxlarge{border-radius:32px}
.gbaf-row-padding,.gbaf-row-padding>.gbaf-half,.gbaf-row-padding>.gbaf-third,.gbaf-row-padding>.gbaf-twothird,.gbaf-row-padding>.gbaf-threequarter,.gbaf-row-padding>.gbaf-quarter,.gbaf-row-padding>.gbaf-col{padding:0 8px}
.gbaf-container,.gbaf-panel{padding:0.01em 16px}.gbaf-panel{margin-top:16px;margin-bottom:16px}
.gbaf-card,.gbaf-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.gbaf-card-4,.gbaf-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.gbaf-opacity,.gbaf-hover-opacity:hover{opacity:0.60}.gbaf-opacity-off,.gbaf-hover-opacity-off:hover{opacity:1}
.gbaf-opacity-max{opacity:0.25}.gbaf-opacity-min{opacity:0.75}
.gbaf-greyscale-max,.gbaf-grayscale-max,.gbaf-hover-greyscale:hover,.gbaf-hover-grayscale:hover{filter:grayscale(100%)}
.gbaf-greyscale,.gbaf-grayscale{filter:grayscale(75%)}.gbaf-greyscale-min,.gbaf-grayscale-min{filter:grayscale(50%)}
.gbaf-sepia{filter:sepia(75%)}.gbaf-sepia-max,.gbaf-hover-sepia:hover{filter:sepia(100%)}.gbaf-sepia-min{filter:sepia(50%)}
.gbaf-tiny{font-size:10px!important}.gbaf-small{font-size:12px!important}.gbaf-medium{font-size:15px!important}.gbaf-large{font-size:18px!important}
.gbaf-xlarge{font-size:24px!important}.gbaf-xxlarge{font-size:36px!important}.gbaf-xxxlarge{font-size:48px!important}.gbaf-jumbo{font-size:64px!important}
.gbaf-left-align{text-align:left!important}.gbaf-right-align{text-align:right!important}.gbaf-justify{text-align:justify!important}.gbaf-center{text-align:center!important}
.gbaf-border-0{border:0!important}.gbaf-border{border:1px solid #ccc!important}
.gbaf-border-top{border-top:1px solid #ccc!important}.gbaf-border-bottom{border-bottom:1px solid #ccc!important}
.gbaf-border-left{border-left:1px solid #ccc!important}.gbaf-border-right{border-right:1px solid #ccc!important}
.gbaf-topbar{border-top:6px solid #ccc!important}.gbaf-bottombar{border-bottom:6px solid #ccc!important}
.gbaf-leftbar{border-left:6px solid #ccc!important}.gbaf-rightbar{border-right:6px solid #ccc!important}
.gbaf-section,.gbaf-code{margin-top:16px!important;margin-bottom:16px!important}
.gbaf-margin{margin:16px!important}.gbaf-margin-top{margin-top:16px!important}.gbaf-margin-bottom{margin-bottom:16px!important}
.gbaf-margin-left{margin-left:16px!important}.gbaf-margin-right{margin-right:16px!important}
.gbaf-padding-small{padding:4px 8px!important}.gbaf-padding{padding:8px 16px!important}.gbaf-padding-large{padding:12px 24px!important}
.gbaf-left{float:left!important}.gbaf-right{float:right!important}
.gbaf-button:hover{color:#000!important;background-color:#ccc!important}
.gbaf-transparent,.gbaf-hover-none:hover{background-color:transparent!important}
.gbaf-hover-none:hover{box-shadow:none!important}

/* Class */
body,h1,h2,h3,h4,h5,h6{font-family: "Lato", sans-serif}

/* Colors */
.gbaf-red,.gbaf-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.gbaf-white,.gbaf-hover-white:hover{color:#000!important;background-color:#fff!important}
.gbaf-black,.gbaf-hover-black:hover{color:#fff!important;background-color:#000!important}
.gbaf-text-white,.gbaf-hover-text-white:hover{color:#fff!important}
.gbaf-text-black,.gbaf-hover-text-black:hover{color:#000!important}
.gbaf-text-red,.gbaf-hover-text-red:hover{color:#f44336!important}
.gbaf-text-green,.gbaf-hover-text-green:hover{color:#4CAF50!important}
.gbaf-border-red,.gbaf-hover-border-red:hover{border-color:#f44336!important}
.gbaf-border-black,.gbaf-hover-border-black:hover{border-color:#000!important}
.gbaf-danger {
  color: #D8000C!important;
  background-color:#FFD2D2!important;
  border-top: 1px solid #D8000C !important;
  border-bottom: 1px solid #D8000C !important;
}
.gbaf-success {
  color: #4F8A10!important;
  background-color:#DFF2BF!important;
  border-top: 1px solid #4F8A10 !important;
  border-bottom: 1px solid #4F8A10 !important;
}


/* Padding & Marging */
.gbaf-margin-navbar {padding-top: 51px;}
.gbaf-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.gbaf-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.gbaf-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.gbaf-left{float:left;width:100%}
.gbaf-padding-top-64{padding-top:64px!important;}

/* First image (Banque de France) */
.bgimg-1 {
  background-image: url("../images/banque-de-france.jpg");
  min-height: 400px;
}
/* Second image (Liste des Partenaires) */
.bgimg-2 {
  background-image: url("../images/bank-little.jpg");
  min-height: 400px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
@media (max-width:600px){.img-center{width: 100%;}}

.gbaf-text-large {
  font-size: 1em;
}

.gbaf-input {
  padding: 8px;
  display: block;
  border: 1px solid #ccc;
  width: 100%
}